astunparse
blinker
certifi
charset-normalizer
click
Flask
flask-cors
flatbuffers
gast
gevent
google-pasta
greenlet
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
numpy
opt_einsum
optree
packaging
pillow
protobuf
Pygments
python-dateutil
requests
rich
scikit-learn
scipy
setuptools
six
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
typing_extensions
urllib3
Werkzeug
wheel
wrapt
zope.event
zope.interface
